Backend\env_clipExtractor\*
.env
Backend\data\*
Backend\config\*
*.pyc 
Backend\app\routes\__pycache__\*
Backend\app\utils\__pycache__\*
Backend\app\models\__pycache__\*
Backend\app\__pycache__\*
Backend\app\routes\database_routes_backup.txt
Backend\app\services\__pycache__\*
03-service-postgreSQL_copy.yml